<form method="post">
    Name: <input name="Name" /><br />
    Email: <input name="Email" /><br />
    Address: <input name="Address" /><br />
    <button type="submit">Save</button>
</form>
<a asp-action="Index">Back to List</a>